body {
    font-family: 'Elegant Font', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-image: url(Images/bg4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    min-height: 100vh;
}

.title {
    color: whitesmoke;
    font-weight: bold;
    font-size: 36px;
}

.title-box {
    margin-bottom: 20px; /* Add margin to create space */
}

.hyperlinks a {
    color: whitesmoke;
    text-decoration: none;
    background-color: black;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 0 5px; /* Add spacing between links */
}

.hyperlinks a:hover {
        background-color:#002ead;
        transition: 0.7s;
}
.contact-info-box {
    max-width: 850px;
    text-align: left;
    padding: 20px;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    border-radius: 10px; /* Add border radius for rounded corners */
}

.contact-info-box h1 {
    font-size: 30px;
    color: black;
}

.contact-info-box p {
    font-size: 18px;
    line-height: 1.6;
    color: #000000;
}

.contact-info-box ul {
    list-style-type: none;
    padding: 0;
}

.contact-info-box li {
    margin-bottom: 10px;
}
